body{
    background: linear-gradient(40deg, rgb(255, 147, 115), rgb(124, 224, 255));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

header{
    text-align: center;
    color: rgb(109, 101, 101);
    font-size: 50px;
}

.container_practicas div{
    border: 3px solid gainsboro;
    border-radius: 10px;
    width: 31%; 
    margin: 1%;
    float: left;
}



div.columna:hover{
    background-color: rgb(206, 203, 203);
}    

div h4{
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

div ul{
    list-style-type: circle;
}

a{
    font-size: 18px;
}

li:hover{
    transform: scale(105%);
}

p.subtitulo{
    text-align: center;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

a:link{
    background-color: gainsboro;;
    color: rgb(136, 109, 109);
}

a:visited{
    background-color: rgb(136, 109, 109);
    color: gainsboro;
}

.container_practicas{
    width: 100%;
    margin-bottom: 20px;
}

footer div{

    width: 100%;
    margin-left: 0;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

span.cabecera{
    position: relative;
    margin-left: 89%;
}

img.vcf{
    width: 67px;
    float: right;
    border-radius: 100px;
}

img.visual{
    width: 110px;
    float: right;
    border-radius: 100px;
}

img.steve{
    width: 90px;
    float: right;
    border-radius: 100px;
}

img.mundial{
    width: 80px;
    float: right;
    border-radius: 100px;
}

h2{
    text-align: center;
}

div.columnafinal{
    margin-left: 34.3%;
    width: 31.1%;
}